<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <title>About</title>
</head>

<body>
    <div class="ab" style="height:500px;width:100%; background-color:transparent; text-align: center; padding-top: 10%; padding-bottom: 50%;">
        <h1>ABOUT</h1>
        <div style="height:400px; width:50%; text-align: center;padding-left: 400px; background-color: transparent; ">
            <p>Our mission is to provide our members with a welcoming and inclusive environment where
                they can achieve their fitness goals. We believe that everyone should have access to high-quality
                fitness equipment and training, regardless of their level of experience or ability. Our gym is fully
                equipped with top-of-the-line cardio machines, strength-training equipment, and free weights, as well as
                a variety of group fitness classes and personal training options. Our trainers are highly qualified and
                experienced, and they are dedicated to helping our members achieve their goals. Whether you are a
                beginner or an experienced athlete, we are here to support you on your fitness journey. Come visit us
                today and see what sets us apart!</p>
        </div>
    </div>

</body>

</html>