<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <title>Gym Management</title>

</head>

<body>
    <div class="center">
        <h1>Signup</h1>
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="txt_field">
                <label>Email</label>
                <input type="email" name="email" placeholder="Your Email" required>
            </div>
            <div class="txt_field">
                <label>Select Date</label>
                <input type="date" name="date" required>
            </div>
            <div class="txt_field">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <div class="signup_link">
                <input type="submit" value="SignUp">
            </div>
        </form>
    </div>
</body>

</html>